* {
    margin-top: 50px;
    background-color: #B6AD90;
}
.container
{
    text-align: center;
    margin-top: 100px;
}
.title
{ 
    color: #333D29;
    font-size: 36px;
    margin-top: 50px;
    font-family: 'Courier New', monospace;
}
.paragraph
{
    color: #333D29;
    font-size: 18px;
    margin: 20px 100px;
    font-family: 'Courier New', monospace;
}
.button {
    font-family: 'Courier New', monospace;
    background-color: #582F0E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* make the button a block with intrinsic width and auto horizontal margins to center it */
    display: inline-block;
    width: fit-content;
    margin: 10px auto;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}
.button:hover {
    background-color: #936639;
}
.buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
}
.buttons-wrapper form {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
}
.buttons-wrapper .button {
    margin: 10px;
}
.row {
    width: 100%;
    text-align: center;
}
